extends ../layout
block content
    h1 Fehlzeit löschen
    h1 #{Meldung}
    p
        | Sind sie sich sicher, dass sie die Fehlzeit löschen wollen?
        a(href='/ap2/feDeleteA?maNr=' + deleteMaNr + '&feId=' + deleteFeId + '&delete=0')
            | Nein
        a(href='/ap2/feDeleteA?maNr=' + deleteMaNr + '&feId=' + deleteFeId + '&delete=1')
            | Ja