//
   Created by blackgear on 03.05.17.
// div to select employee, include if needed.

- var test = null

block employeeSelection
    .selectionDiv
        -var ma = {id:1, vorname: "alfons", nachname: "nachname"}

        form.pure-form(action="/", method="POST")
            fieldset
                label(for="manr") MitarbeiterNr:
                input.inputField(name="manr" value="")

                label(for="forname") Vorname:
                input.inputField(name="forname" value="")

                label(for="surname") Nachname:
                input(name="surname" value="")


                table.pure-table.pure-table-horizontal
                  thead
                    tr

                      th.test MA-Nr
                      th Vorname
                      th Nachname
                      th mehr
                      th mehr
                      th mehr
                      th mehr
                  tbody

                    tr(onclick="test('#{ma.id}')")
                      td #{ma.id}
                      td vorname1
                      td nachname1
                      td mehr content
                      td mehr content
                      td mehr content
                      td mehr content




