extends layout



block content
  .content
    //include employeeSelection
    h1 Letzter Zeitstempel:
    if (last_stamp)
      if (last_stamp.stamp_type == 1)
        h2 Eingestempelt
      else
        h2 Ausgestempelt

      //  fix crappy date format..
      -var month = last_stamp.timestamp.getMonth() + 1
      //dafuq?
      h2=last_stamp.timestamp.getDate() + "." + month  + "." + last_stamp.timestamp.getFullYear()
      h2=last_stamp.timestamp.getHours() + ":"+last_stamp.timestamp.getMinutes()



    a.pure-button(href='/home/newStamp', title='stempeln') Stempeln



