.selectionDiv{
    margin-top: 30px;;
}
.inputField{
    margin-right: 20px;
}

.pure-table{
    margin-top: 20px;
    display: table;
}
tr:hover { background-color : #89ae37; }


.fixed-table{
    position: absolute;
}