#userdiv{
    float: right;

}
#logoutButton{
    float: right;
}

#userDesc{
    float: left;
}

.right{

    float: right;
    margin-top: 0px;
    white-space: normal;
}
.lefted{
    float: left;
}

.placeholder{
    margin-right: 120px;
}
.nav{
    width: 80%;
    background-color: #0078e7;
    display: block;
}
.test{
    background-color: #e9322d;
    min-width: 100%;
    height: 20px;
}
.asdasd{
    background-color: yellow;
    white-space: normal;
}